@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;600;700;800;900&display=swap');

/* Reset des styles par défaut du navigateur */
body, h1, p, ul, li, button {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Jost', sans-serif;
  background-color: #f4f4f4;
}

#planning{
  margin: auto;
}

h2{
  text-align: center;
}

table{
  margin: auto;
}

.logo{
  width: 40%;
  margin-top: 0;
}

#pages{
  align-items: right;
  display: flex;
  width: 60%;
  text-align: center;
}

#pages button{
  width:100%;
}

.profil button{
	padding:auto;
	white-space: nowrap;
	background-color: transparent;
	color: white;
	border:none;
	border-radius: 50px;
	cursor: pointer;
	display: inline-block;
	font-weight: bold;
	font-size: 16px;
}

.profil button:hover{

	padding:auto;
	white-space: nowrap;
	background-color: transparent;
	color: white;
	border:none;
	border-radius: 50px;
	cursor: pointer;
	display: inline-block;
	font-weight: bold;
	font-size: 16px;
	width:100%
}

.barre_menu_boutons button {
    padding-top:0px;
    font-family: 'Jost', sans-serif;
    margin-right: 150px;
    margin-top : 0px;
    margin-bottom:20px;
    white-space: nowrap;
    background-color: transparent;
    color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    display: inline-block;
    font-weight: bolder;
    font-family: 'Jost', sans-serif;
    font-size: 24px;
}

.barre_menu_boutons button:hover {
    padding-top:0px;
    font-family: 'Jost', sans-serif;
    margin-right: 150px;
    margin-top : 0px;
    margin-bottom:20px;
    white-space: nowrap;
    background-color: transparent;
    color: #cfe0fc;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    display: inline-block;
    font-weight: bolder;
    font-family: 'Jost', sans-serif;
    font-size: 24px;
}


.header {
  background-color: #00395d; /* Bleu de base */
  background-image: linear-gradient(to bottom, #175099, #00395d); /* Dégradé de bleu */
  padding: 10px;
  padding-left: 20px;
  color: #fff;
  padding: 10px 20px;
  margin-top:auto;
}

.menu {
  display: flex;
  align-items: center;
}

.barre_menu {
  margin-left: auto;
  margin-right: 250px;
}

}

.logo img {
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
  margin: auto;
}

ul li {
  display: inline;
  margin-right: 20px;
}

ul li a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

.main {
  width: 50%;
  margin: 50px auto;
  padding: 20px;/*
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);*/
}



#main {
  width: 70%;
  margin: 50px auto;
  padding: 20px;
  background-color: #d9d9d9;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

p{
  padding: 10px;
  font-size: 28px;
  font-weight: bold;
  color: #333;
  text-align: center;
  margin-top: 20px;
}

.titre{
  font-size: 36px;
  font-weight: bold;
  color: #333;
  text-align: center;
  margin-top: 20px;
  white-space: nowrap;
}

#Nom_secretaire{
  color: #063f6d;
}

form {
    margin-top: 20px;
}

  
/* Style spécifique pour les boutons dans le formulaire */
#main button {
	margin : 20px auto;
	display: block;
	background-color: #4e8af4; /* Bleu de base */
	background-image: linear-gradient(to bottom, #00395d, #599ef6); /* Dégradé de bleu */
	border-radius: 20px; /* Arrondi */
	color: white;
	border:none;
	width: 50%;
	font-family: 'Jost', sans-serif;
	font-weight: bolder;
	font-size: 18px;
	padding:15px;
}
  
#main button:hover{
    margin : 20px auto;
    display: block;
    background-color: black; /* Bleu de base */
    background-image: linear-gradient(to bottom, #3d4a5a, #000000);
    border-radius: 20px; /* Arrondi */
    width: 50%;
    font-family: 'Jost', sans-serif;
    font-weight: bolder;
    font-size: 18px;
}

form {
  padding: 10px;
  font-size: 20px;
  width: 100%;
  display: inline-block;
  box-sizing: border-box;
  text-align: center;

}

#deco button {
	margin : 20px auto;
	display: block;
	background-color: red;
	background-image: linear-gradient(to bottom, #910404, #ff0000);
	border-radius: 20px; /* Arrondi */
	color: white;
	border:none;
	width: 50%;
	font-family: 'Jost', sans-serif;
	font-weight: bolder;
	font-size: 18px;
	padding:15px;
}
  
#deco button:hover{
    margin : 20px auto;
    display: block;
    background-color: black; /* Bleu de base */
    background-image: linear-gradient(to bottom, #3d4a5a, #000000);
    border-radius: 20px; /* Arrondi */
    width: 50%;
    font-family: 'Jost', sans-serif;
    font-weight: bolder;
    font-size: 18px;
}

#logout_bouton {
    background-color: red;
    background-image: linear-gradient(to bottom, #910404, #ff0000);
    color: white;
}

.logout_bouton {
    background-color: black;
    background-image: linear-gradient(to bottom, #910404, #ff0000);
    color: white;
}


.logout_bouton a {
    text-decoration: none;
    color: white;
}

/* Style pour le menu déroulant */
select {
    background-color: white; /* Couleur de fond blanche */
    color: #00395d; /* Couleur du texte bleu, pour correspondre aux boutons */
    padding: 10px 20px; /* Espacement intérieur pour correspondre aux boutons */
    border: none; /* Aucune bordure */
    border-radius: 5px; /* Bordures arrondies pour correspondre aux boutons */
    font-weight: bold; /* Texte en gras */
    font-size: 16px; /* Taille de la police pour correspondre aux boutons */
    cursor: pointer; /* Change le curseur en main pour indiquer la sélection */
    display: inline-block; /* Affichage en ligne pour permettre l'alignement avec d'autres éléments */
    width: auto; /* Largeur automatique basée sur le contenu */
    margin: 20px auto; /* Marges pour positionner le menu déroulant */
    text-align: center; /* Centrer le texte à l'intérieur */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Ombre subtile pour correspondre aux boutons */
}

select:hover {
    background-color: #f4f4f4; /* Légère variation de couleur au survol */
}

/* Assurez-vous que les options sont bien visibles dans le menu déroulant */
option {
    padding: 10px; /* Espacement pour faciliter la lecture */
    background: #fff; /* Couleur de fond blanche pour les options */
    color: #333; /* Couleur de texte sombre pour un bon contraste */
}

