@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;600;700;800;900&display=swap');

/* Reset des styles par défaut du navigateur */
body, h1, h2, p, ul, li, button {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Jost', sans-serif;
  background-color: #f4f4f4;
}

.header {
  background-color: #00395d; /* Bleu de base */
  background-image: linear-gradient(to bottom, #175099, #00395d); /* Dégradé de bleu */
  padding: 10px;
  padding-left: 20px;
  color: #fff;
  padding: 10px 20px;
}

.menu {
  display: flex;
  align-items: center;
}

.logo img {
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
  margin-left: auto;
}

ul li {
  display: inline;
  margin-right: 20px;
}

ul li a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

.main {
  width: 50%;
  margin: 50px auto;
  padding: 20px;
  background-color: #d9d9d9;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

p{
  padding: 10px;
  font-size: 24px;
  font-weight: bold;
  color: #333;
  text-align: center;
  margin-top: 20px;
}

.titre{
  font-size: 36px;
  font-weight: bold;
  color: #333;
  text-align: center;
  margin-top: 20px;
}


#Nom_secretaire{
  color: #063f6d;
}

form {
    margin-top: 20px;
}

button {
    background-color: #00395d; /* Bleu de base */
    background-image: linear-gradient(to bottom, #175099, #00395d); /* Dégradé de bleu */
    color: white;
    padding: 10px 20px;
    border:none;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    font-size: 16px;
  }
  
  button:hover {
    color: #4e8af4; /* Bleu de base */
  }
  
  /* Style spécifique pour les boutons dans le formulaire */
  form button {
    margin : 20px auto;
    display: block;
    background-color: #4e8af4; /* Bleu de base */
    background-image: linear-gradient(to bottom, #00395d, #599ef6); /* Dégradé de bleu */
    border-radius: 20px; /* Arrondi */
    color: white;
    width: 50%;
    font-family: 'Jost', sans-serif;
    font-weight: bolder;
    font-size: 18px;
    padding:15px;
  }
  
  form button:hover{
    margin : 20px auto;
    display: block;
    background-color: black; /* Bleu de base */
    background-image: linear-gradient(to bottom, #3d4a5a, #000000);
    border-radius: 20px; /* Arrondi */
    width: 50%;
    font-family: 'Jost', sans-serif;
    font-weight: bolder;
    font-size: 18px;
  
  }

form {
  padding: 10px;
  font-size: 20px;
  width: 100%;
  display: inline-block;
  box-sizing: border-box;
  text-align: center;

}

button {
  
  background-color: #00395d; 
  background-image: linear-gradient(to bottom, #175099, #00395d); 
  color: white;
  padding: 10px 20px;
  border:none;
  border-radius: 5px;
  cursor: pointer;
  display: inline-block;
  font-weight: bold;
  font-size: 16px;
  
}

button:hover {
  color: #4e8af4;
}



form button {
  margin : 20px auto;
  display: block;
  background-color: #4e8af4;
  background-image: linear-gradient(to bottom, #00395d, #599ef6); 
  border-radius: 20px; 
  color: white;
  width: 70%;
  font-family: 'Jost', sans-serif;
  font-weight: bolder;
  font-size: 18px;
  padding:15px;
}

form button:hover{
  margin : 20px auto;
  display: block;
  background-color: black; 
  background-image: linear-gradient(to bottom, #3d4a5a, #000000);
  border-radius: 20px; 
  width: 50%;
  font-family: 'Jost', sans-serif;
  font-weight: bolder;
  font-size: 18px;

}


